{extend name="layout" /}
{block name="body"}
<div class="container-fluid p-t-15">
    <form>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">基本配置</div>
                    </div>
                    <div class="card-body">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <label for="appid" class="form-label">APPID</label>
                                <input type="text" class="form-control" id="appid" name="appid" value="{$data.appid}" readonly>
                            </div>
                            <div class="col-md-6">
                                <label for="appname" class="form-label">APP名称</label>
                                <input type="text" class="form-control" id="appname" name="appname" value="{$data.appname}" required="">
                            </div>
                            <div class="col-md-12">
                                <label for="appkey" class="form-label">APPKEY</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="appkey" name="appkey" value="{$data.appkey}" readonly>
                                    <div class="input-group-append">
                                        <button type="button" onclick="javascript:document.getElementById('appkey').value=randomString(32);" class="btn btn-success">更换</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="developer_contact_info" class="form-label">开发者联系方式</label>
                                <input type="text" class="form-control" id="developer_contact_info" name="developer_contact_info" value="{$data.developer_contact_info}" placeholder="请输入开发者联系方式">
                            </div>
                            <div class="col-md-6">
                                <label for="official_group" class="form-label">官方群组</label>
                                <input type="text" class="form-control" name="official_group" value="{$data.official_group}" placeholder="请输入官方群组">
                            </div>
                            <div class="col-md-12 file-group">
                                <label for="appicon" class="form-label">应用图标</label>
                                <div class="input-group">
                                    <input type="text" class="form-control file-value" value="{$data.appicon}" name="appicon" placeholder="应用图标" />
                                    <input type="file" name="file" class="hidden" style="display: none;" />
                                    <button class="btn btn-default file-browser" type="button">上传图片</button>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="application_introduction" class="form-label">应用简介</label>
                                <textarea class="form-control" id="application_introduction" name="application_introduction" placeholder="请输入应用简介" style="height: 100px;">{$data.application_introduction}</textarea>
                            </div>
                            <div class="col-md-12">
                                <label for="grade" class="form-label">等级划分</label>
                                <textarea class="form-control" id="grade" name="grade" placeholder="请输入等级划分" style="height: 100px;">{$data.grade}</textarea>
                            </div>
                            <div class="col-md-12">
                                <div class="form-check form-switch">
                                    <input type="checkbox" id="app_switch" value="{$data.app_switch}" name="app_switch" class="form-check-input" onclick="change_app_switch(this.value)" {if $data.app_switch==0} checked {/if}>
                                </div>
                                {if $data.app_switch == 1}
                                <small id="app_switch_words" style="margin-bottom: 0;">关闭应用控制后，该应用下的用户 <code>不允许任何操作</code></small>
                                {else /}
                                <small id="app_switch_words" style="margin-bottom: 0;">开启应用控制后，该应用下的用户可以 <code>可正常使用</code></small>
                                {/if}
                            </div>
                            <div class="col-md-12" id="app_closing_prompt_input" {if $data.app_switch==0} style="display: none;" {/if}>
                                <label for="app_closing_prompt" class="form-label">应用关闭通知</label>
                                <textarea class="form-control" id="app_closing_prompt" name="app_closing_prompt" placeholder="告诉用户为什么关闭此应用" style="height: 100px;">{$data.app_closing_prompt}</textarea>
                            </div>
                            <div class="col-md-12">
                                <div class="form-check form-switch">
                                    <input type="checkbox" id="increase_decrease" value="{$data.increase_decrease}" name="increase_decrease" class="form-check-input" onclick="change_increase_decrease(this.value)" {if $data.increase_decrease==1} checked {/if}>
                                </div>
                                <small style="margin-bottom: 0;">利用appkey值增减用户金币、积分和会员时间</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 注册配置 -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <header class="card-header">
                        <div class="card-title">注册配置</div>
                    </header>
                    <div class="card-body">
                        <div class="row g-3">
                            <div class="col-md-12">
                                <div class="form-check form-switch">
                                    <input type="checkbox" id="registration_switch" value="{$data.registration_configuration.registration_switch}" name="registration_switch" class="form-check-input" onclick="change_registration_switch(this.value)" {if $data.registration_configuration.registration_switch==0} checked {/if}>
                                </div>
                                {if $data.registration_configuration.registration_switch == 0}
                                <small id="registration_switch_words">开启注册后，该应用可以 <code>正常注册</code></small>
                                {else /}
                                <small id="registration_switch_words">关闭注册后，该应用 <code>禁止所有用户注册</code></small>
                                {/if}
                            </div>
                            <div id="registration_switch1" {if $data.registration_configuration.registration_switch==1} style="display: none;" {/if}>
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <label for="registration_code_switch" class="form-label">注册验证码</label>
                                        <select class="form-control" name="registration_code_switch">
                                            <option value="0" {if $data.registration_configuration.registration_code_switch==0} selected {/if}>关闭</option>
                                            <option value="1" {if $data.registration_configuration.registration_code_switch==1} selected {/if}>图片验证码</option>
                                            <option value="2" {if $data.registration_configuration.registration_code_switch==2} selected {/if}>邮箱验证码</option>
                                            <option value="3" {if $data.registration_configuration.registration_code_switch==3} selected {/if}>手机验证码</option>
                                        </select>
                                        <small>选择什么则需要传入相关的参数，选择图片验证码则只需要传入captcha,选择邮箱，则需要传入邮箱和captcha等等</small>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="single_device_registration_limit" class="form-label">单设备注册数量上限</label>
                                        <input type="number" class="form-control" name="single_device_registration_limit" value="{$data.registration_configuration.single_device_registration_limit}">
                                        <small>根据设备码判断,如果为0时则不需要传入设备码参数,也代表关闭此功能</small>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="zc_money" class="form-label">注册赠送金币</label>
                                        <input type="number" class="form-control" name="zc_money" value="{$data.registration_configuration.money}">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="zc_integral" class="form-label">注册赠送积分</label>
                                        <input type="number" class="form-control" name="zc_integral" value="{$data.registration_configuration.integral}">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="zc_vip" class="form-label">注册赠送会员时长(天)</label>
                                        <input type="number" class="form-control" name="zc_vip" value="{$data.registration_configuration.vip}">
                                    </div>
                                </div>
                            </div>
                            <div id="registration_switch2" {if $data.registration_configuration.registration_switch==0} style="display: none;" {/if}>
                                <div class="col-md-12">
                                    <label for="registration_closing_prompt" class="form-label">注册关闭提示</label>
                                    <input type="text" class="form-control" id="registration_closing_prompt" name="registration_closing_prompt" value="{$data.registration_configuration.registration_closing_prompt}" placeholder="告诉用户为什么关闭注册">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 用户信息配置 -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <header class="card-header">
                        <div class="card-title">用户信息配置</div>
                    </header>
                    <div class="card-body">
                        <div class="row g-3">
                            <div class="col-md-12">
                                <div class="form-check form-switch">
                                    <input type="checkbox" id="update_userinfo_audit" value="{$data.userinfo_configuration.update_userinfo_audit}" name="update_userinfo_audit" class="form-check-input" onclick="change_update_userinfo_audit(this.value)" {if $data.userinfo_configuration.update_userinfo_audit==0} checked {/if}>
                                </div>
                                <small>开启后当用户提交了昵称、个性签名、头像、背景的修改才会审核</small>
                            </div>
                            <div class="col-md-12">
                                <label for="title_medal_priority" class="form-label">称号勋章优先输出配置</label>
                                <select class="form-control" name="title_medal_priority">
                                    <option value="0" {if $data.userinfo_configuration.title_medal_priority==0} selected {/if}>勋章优先输出</option>
                                    <option value="1" {if $data.userinfo_configuration.title_medal_priority==1} selected {/if}>称号优先输出</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="user_nickname" class="form-label">用户默认昵称</label>
                                <input type="text" class="form-control" name="user_nickname" value="{$data.userinfo_configuration.nickname}">
                            </div>
                            <div class="col-md-6">
                                <label for="user_signature" class="form-label">用户默认个性签名</label>
                                <input type="text" class="form-control" name="user_signature" value="{$data.userinfo_configuration.signature}">
                            </div>
                            <div class="col-md-12 file-group">
                                <label for="user_usertx" class="form-label">用户默认头像</label>
                                <div class="input-group">
                                    <input type="text" class="form-control file-value" value="{$data.userinfo_configuration.usertx}" name="user_usertx" placeholder="用户默认头像" />
                                    <input type="file" name="file" class="hidden" style="display: none;" />
                                    <button class="btn btn-default file-browser" type="button">上传图片</button>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-check form-switch">
                                    <input type="checkbox" id="random_avatar_enabled" name="random_avatar_enabled" class="form-check-input" {if !empty($data.userinfo_configuration.random_avatar_enabled)}checked{/if}>
                                    <label class="form-check-label" for="random_avatar_enabled">新用户注册时随机分配头像</label>
                                </div>
                                <div class="form-text">开启后从下方头像池随机选择；关闭时使用上面的默认头像。</div>
                            </div>
                            <div class="col-md-12">
                                <label for="random_avatar_pool" class="form-label">随机头像池</label>
                                <textarea class="form-control" id="random_avatar_pool" name="random_avatar_pool" rows="5" placeholder="每行一张头像地址">{if !empty($data.userinfo_configuration.random_avatar_pool)}{:implode("\n", (array)$data.userinfo_configuration.random_avatar_pool)}{/if}</textarea>
                                <div class="form-text">支持本地上传后的图片地址或 HTTPS 图片地址，每行一张，系统会自动去重。</div>
                            </div>
                            <div class="col-md-12 file-group">
                                <label for="user_userbg" class="form-label">用户默认背景</label>
                                <div class="input-group">
                                    <input type="text" class="form-control file-value" value="{$data.userinfo_configuration.userbg}" name="user_userbg" placeholder="用户默认背景" />
                                    <input type="file" name="file" class="hidden" style="display: none;" />
                                    <button class="btn btn-default file-browser" type="button">上传图片</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 签到配置 -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <header class="card-header">
                        <div class="card-title">签到配置</div>
                    </header>
                    <div class="card-body">
                        <div class="row g-3">
                            <div class="col-md-12">
                                <div class="form-check form-switch">
                                    <input type="checkbox" id="sign_switch" value="{$data.sign_configuration.sign_switch}" name="sign_switch" class="form-check-input" onclick="change_sign_switch(this.value)" {if $data.sign_configuration.sign_switch==0} checked {/if}>
                                </div>
                                {if $data.sign_configuration.sign_switch == 0}
                                <small id="sign_switch_words">开启签到后，签到接口 <code>可正常使用</code></small>
                                {else /}
                                <small id="sign_switch_words">关闭签到后，签到接口 <code>则将关闭</code></small>
                                {/if}
                            </div>
                            <div id="sign_switch_input" {if $data.sign_configuration.sign_switch==1} style="display: none;" {/if}>
                                <div class="row g-3">
                                    <div class="col-md-3">
                                        <label for="sign_money" class="form-label">签到赠送金币</label>
                                        <input type="number" class="form-control" name="sign_money" value="{$data.sign_configuration.money}">
                                    </div>
                                    <div class="col-md-3">
                                        <label for="sign_integral" class="form-label">签到赠送积分</label>
                                        <input type="number" class="form-control" name="sign_integral" value="{$data.sign_configuration.integral}">
                                    </div>
                                    <div class="col-md-3">
                                        <label for="sign_exp" class="form-label">签到赠送经验</label>
                                        <input type="number" class="form-control" name="sign_exp" value="{$data.sign_configuration.exp}">
                                    </div>
                                    <div class="col-md-3">
                                        <label for="sign_vip" class="form-label">签到赠送会员时长(天)</label>
                                        <input type="number" class="form-control" name="sign_vip" value="{$data.sign_configuration.vip}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 邀请配置 -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <header class="card-header">
                        <div class="card-title">邀请配置</div>
                    </header>
                    <div class="card-body">
                        <div class="row g-3">
                            <div class="col-md-12">
                                <div class="form-check form-switch">
                                    <input type="checkbox" id="invitation_switch" value="{$data.invitation_configuration.invitation_switch}" name="invitation_switch" class="form-check-input" onclick="change_invitation_switch(this.value)" {if $data.invitation_configuration.invitation_switch==0} checked {/if}>
                                </div>
                                {if $data.invitation_configuration.invitation_switch == 0}
                                <small id="invitation_switch_words">开启邀请后，填写邀请码接口 <code>可正常使用</code> (以及注册的时候可填写邀请码，不必填选项)</small>
                                {else /}
                                <small id="invitation_switch_words">关闭邀请后，填写邀请码接口 <code>则将关闭</code> (注册填写邀请码则无效)</small>
                                {/if}
                            </div>
                            <div id="invitation_switch_input" {if $data.invitation_configuration.invitation_switch==1} style="display: none;" {/if}>
                                <div class="row g-3">
                                    <div class="col-md-3">
                                        <label for="invitation_money" class="form-label">邀请人获得金币</label>
                                        <input type="number" class="form-control" name="invitation_money" value="{$data.invitation_configuration.money}">
                                    </div>
                                    <div class="col-md-3">
                                        <label for="invitation_integral" class="form-label">邀请人获得积分</label>
                                        <input type="number" class="form-control" name="invitation_integral" value="{$data.invitation_configuration.integral}">
                                    </div>
                                    <div class="col-md-3">
                                        <label for="invitation_exp" class="form-label">邀请人获得经验</label>
                                        <input type="number" class="form-control" name="invitation_exp" value="{$data.invitation_configuration.exp}">
                                    </div>
                                    <div class="col-md-3">
                                        <label for="invitation_vip" class="form-label">邀请人获得会员时长(天)</label>
                                        <input type="number" class="form-control" name="invitation_vip" value="{$data.invitation_configuration.vip}">
                                    </div>
                                </div>
                                <div class="row g-3">
                                    <div class="col-md-3">
                                        <label for="invitation_bmoney" class="form-label">被邀请人获得金币</label>
                                        <input type="number" class="form-control" name="invitation_bmoney" value="{$data.invitation_configuration.bmoney}">
                                    </div>
                                    <div class="col-md-3">
                                        <label for="invitation_bintegral" class="form-label">被邀请人获得积分</label>
                                        <input type="number" class="form-control" name="invitation_bintegral" value="{$data.invitation_configuration.bintegral}">
                                    </div>
                                    <div class="col-md-3">
                                        <label for="invitation_bexp" class="form-label">被邀请人获得经验</label>
                                        <input type="number" class="form-control" name="invitation_bexp" value="{$data.invitation_configuration.bexp}">
                                    </div>
                                    <div class="col-md-3">
                                        <label for="invitation_bvip" class="form-label">被邀请人获得会员时长(天)</label>
                                        <input type="number" class="form-control" name="invitation_bvip" value="{$data.invitation_configuration.bvip}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 登录配置 -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <header class="card-header">
                        <div class="card-title">登录配置</div>
                    </header>
                    <div class="card-body">
                        <div class="row g-3">
                            <div class="col-md-12">
                                <div class="form-check form-switch">
                                    <input type="checkbox" id="login_switch" value="{$data.login_configuration.login_switch}" name="login_switch" class="form-check-input" onclick="change_login_switch(this.value)" {if $data.login_configuration.login_switch==0} checked {/if}>
                                </div>
                                {if $data.login_configuration.login_switch == 0}
                                <small id="login_switch_words">关闭登录后 <code>所有用户</code> 都无法登录该应用了</small>
                                {else /}
                                <small id="login_switch_words">开启登录后，该应用下的用户可以 <code> 使用软件（被禁封的用户除外）</code></small>
                                {/if}
                            </div>
                            <div id="login_switch1" {if $data.login_configuration.login_switch==1} style="display: none;" {/if}>
                                <div class="row g-3">
                                    <div class="col-md-4">
                                        <label for="login_code_switch" class="form-label">图片验证码</label>
                                        <select class="form-control" name="login_code_switch">
                                            <option value="0" {if $data.login_configuration.login_code_switch==0} selected {/if}>关闭</option>
                                            <option value="1" {if $data.login_configuration.login_code_switch==1} selected {/if}>开启</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="new_device_login_switch" class="form-label">新设备登录</label>
                                        <select class="form-control" name="new_device_login_switch">
                                            <option value="0" {if $data.login_configuration.new_device_login_switch==0} selected {/if}>开启</option>
                                            <option value="1" {if $data.login_configuration.new_device_login_switch==1} selected {/if}>关闭</option>
                                        </select>
                                        <small>根据设备码判断即注册时侯的设备码,如果开启新设备则允许新设备登录,关闭则不允许新设备登录也就意味着登录时需传递设备码参数</small>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="remote_login" class="form-label">异地登录发送邮件</label>
                                        <select class="form-control" name="remote_login">
                                            <option value="0" {if $data.login_configuration.remote_login==0} selected {/if}>开启</option>
                                            <option value="1" {if $data.login_configuration.remote_login==1} selected {/if}>关闭</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div id="login_switch2" {if $data.login_configuration.login_switch==0} style="display: none;" {/if}>
                                <div class="col-md-12">
                                    <label for="login_closing_prompt" class="form-label">登录关闭提示</label>
                                    <input type="text" class="form-control" id="login_closing_prompt" name="login_closing_prompt" value="{$data.login_configuration.login_closing_prompt}" placeholder="告诉用户为什么关闭登录">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 安全配置 -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <header class="card-header">
                        <div class="card-title">安全配置</div>
                    </header>
                    <div class="card-body">
                        <div class="row g-3">
                            <div class="col-md-12">
                                <div class="form-check form-switch">
                                    <input type="checkbox" id="security_switch" value="{$data.security_configuration.security_switch}" name="security_switch" class="form-check-input" onclick="change_security_switch(this.value)" {if $data.security_configuration.security_switch==0} checked {/if}>
                                </div>
                                {if $data.security_configuration.security_switch == 0}
                                <small id="security_switch_words">开启安全配置后，可对应用 <code>数据</code> 进行加密, 防止数据泄露</small>
                                {else /}
                                <small id="security_switch_words">关闭安全配置后，该应用 <code> 数据 </code>将以明文传输，不使用任何安全配置</small>
                                {/if}
                            </div>
                            <div id="security_switch_input" {if $data.security_configuration.security_switch==1} style="display: none;" {/if}>
                                <div class="row g-3">
                                    <div class="col-md-12">
                                        <label for="encryption_type" class="form-label">数据加密类型</label>
                                        <select class="form-control" name="encryption_type" onchange="encryption_type_v(this.value)">
                                            <option value="0" {if $data.security_configuration.encryption_type==0} selected {/if}>关闭</option>
                                            <option value="1" {if $data.security_configuration.encryption_type==1} selected {/if}>BASE64加密</option>
                                            <option value="2" {if $data.security_configuration.encryption_type==2} selected {/if}>AES-128-CBC加密</option>
                                            <option value="3" {if $data.security_configuration.encryption_type==3} selected {/if}>AES-128-ECB加密</option>
                                            <option value="4" {if $data.security_configuration.encryption_type==4} selected {/if}>DES-ECB加密</option>
                                            <option value="5" {if $data.security_configuration.encryption_type==5} selected {/if}>RC4加密</option>
                                        </select>
                                    </div>
                                    <div id="encryption_type_2" {if $data.security_configuration.encryption_type <2} style="display: none;" {/if}>
                                        <div class="col-md-12">
                                            <label for="aes_key" class="form-label">秘钥</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="aes_key" name="aes_key" value="{$data.security_configuration.encryption_key}">
                                                <div class="input-group-append">
                                                    <button type="button" onclick="javascript:document.getElementById('aes_key').value=randomString(16);" class="btn btn-secondary">随机</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12" id="encryption_section_s" {if $data.security_configuration.encryption_type==0} style="display: none;" {/if}>
                                        <label for="encryption_section" class="form-label">输出加密部分</label>
                                        <select class="form-control" name="encryption_section">
                                            <option value="0" {if $data.security_configuration.encryption_section==0} selected {/if}>全部加密</option>
                                            <option value="1" {if $data.security_configuration.encryption_section==1} selected {/if}>只加密Data</option>
                                        </select>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="alert alert-warning" role="alert">
                                            <a class="alert-link">提示</a> - 该设置仅针对数据加密，不影响其他安全设置
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="data_signature" class="form-label">数据签名</label>
                                        <select class="form-control" name="data_signature">
                                            <option value="1" {if $data.security_configuration.data_signature==1} selected {/if}>关闭签名</option>
                                            <option value="0" {if $data.security_configuration.data_signature==0} selected {/if}>开启签名</option>
                                        </select>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="alert alert-warning" role="alert">
                                            <a class="alert-link">提示</a> - 若使用数据签名，可有效防止数据被篡改
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="time_difference_verification" class="form-label">时间差校验</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="time_difference_verification" value="{$data.security_configuration.time_difference_verification}" placeholder="时间校验">
                                            <span class="input-group-text"> 秒 </span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="alert alert-warning" role="alert">
                                            <a class="alert-link">提示</a> - 对客户设备时间与服务器时间进行时差校验，避免用户修改本地时间非法使用VIP功能，设置 0 则不校验，开启则意味着需要传递时间戳
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 论坛配置 -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <header class="card-header">
                        <div class="card-title">论坛配置</div>
                    </header>
                    <div class="card-body" id="registration_configuration">
                        <div>
                            <span>发帖开关</span>
                            <div class="form-check form-check-inline">
                                <input type="radio" id="post_switch_on" value="0" name="post_switch" class="form-check-input" {if $data.forum_configuration.post_switch==0} checked {/if}>
                                <label class="form-check-label" for="post_switch_on">开启</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" id="post_switch_off" value="1" name="post_switch" class="form-check-input" {if $data.forum_configuration.post_switch==1} checked {/if}>
                                <label class="form-check-label" for="post_switch_off">关闭</label>
                            </div>
                        </div>
                        <div style="margin-top: 1rem;">
                            <span>评论开关</span>
                            <div class="form-check form-check-inline">
                                <input type="radio" id="comment_switch_on" value="0" name="comment_switch" class="form-check-input" {if $data.forum_configuration.comment_switch==0} checked {/if}>
                                <label class="form-check-label" for="comment_switch_on">开启</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" id="comment_switch_off" value="1" name="comment_switch" class="form-check-input" {if $data.forum_configuration.comment_switch==1} checked {/if}>
                                <label class="form-check-label" for="comment_switch_off">关闭</label>
                            </div>
                        </div>
                        <div style="margin-top: 1rem;">
                            <span>版主删除帖子</span>
                            <div class="form-check form-check-inline">
                                <input type="radio" id="moderator_delete_post_on" value="0" name="moderator_delete_post" class="form-check-input" {if $data.forum_configuration.moderator_delete_post==0} checked {/if}>
                                <label class="form-check-label" for="moderator_delete_post_on">开启</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" id="moderator_delete_post_off" value="1" name="moderator_delete_post" class="form-check-input" {if $data.forum_configuration.moderator_delete_post==1} checked {/if}>
                                <label class="form-check-label" for="moderator_delete_post_off">关闭</label>
                            </div>
                        </div>
                        <div style="margin-top: 1rem;">
                            <span>版主删除评论</span>
                            <div class="form-check form-check-inline">
                                <input type="radio" id="moderator_delete_comment_on" value="0" name="moderator_delete_comment" class="form-check-input" {if $data.forum_configuration.moderator_delete_comment==0} checked {/if}>
                                <label class="form-check-label" for="moderator_delete_comment_on">开启</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" id="moderator_delete_comment_off" value="1" name="moderator_delete_comment" class="form-check-input" {if $data.forum_configuration.moderator_delete_comment==1} checked {/if}>
                                <label class="form-check-label" for="moderator_delete_comment_off">关闭</label>
                            </div>
                        </div>
                        <div style="margin-top: 1rem;">
                            <span>会员无需付费</span>
                            <div class="form-check form-check-inline">
                                <input type="radio" id="members_not_need_pay_on" value="0" name="members_not_need_pay" class="form-check-input" {if $data.forum_configuration.members_not_need_pay==0} checked {/if}>
                                <label class="form-check-label" for="members_not_need_pay_on">开启</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" id="members_not_need_pay_off" value="1" name="members_not_need_pay" class="form-check-input" {if $data.forum_configuration.members_not_need_pay==1} checked {/if}>
                                <label class="form-check-label" for="members_not_need_pay_off">关闭</label>
                            </div>
                        </div>
                        <div class="row g-3" style="margin-top: 0px;">
                            <div class="col-md-4">
                                <label for="max_number_post_day" class="form-label">每日最大发帖量</label>
                                <input type="number" class="form-control" name="max_number_post_day" value="{$data.forum_configuration.max_number_post_day}">
                                <small>意思就是 假如这里设定5，今天超过5个帖子就发布了，填写0则不进行限制</small>
                            </div>
                            <div class="col-md-4">
                                <label for="max_number_post_reward" class="form-label">每日最大发帖奖励</label>
                                <input type="number" class="form-control" name="max_number_post_reward" value="{$data.forum_configuration.max_number_post_reward}">
                                <small>意思就是 假如这里设定5，我今天发了10个帖子 就会有5个帖子的奖励不进行发放，填写0则不进行限制</small>
                            </div>
                            <div class="col-md-4">
                                <label for="max_number_comment_reward" class="form-label">每日最大评论奖励</label>
                                <input type="number" class="form-control" name="max_number_comment_reward" value="{$data.forum_configuration.max_number_comment_reward}">
                                <small>意思就是 假如这里设定5，我今天评论了10个评论 就会有5个评论的奖励不进行发放，填写0则不进行限制</small>
                            </div>
                            <div class="col-md-6">
                                <label for="posting_interval_time" class="form-label">发帖间隔时间</label>
                                <input type="number" class="form-control" name="posting_interval_time" value="{$data.forum_configuration.posting_interval_time}">
                                <small>就是间隔多少秒才能发下一个帖子 0不限制</small>
                            </div>
                            <div class="col-md-6">
                                <label for="comment_interval_time" class="form-label">评论间隔时间</label>
                                <input type="number" class="form-control" name="comment_interval_time" value="{$data.forum_configuration.comment_interval_time}">
                                <small>就是间隔多少秒才能发下一个评论 0不限制</small>
                            </div>
                            <div class="col-md-3">
                                <label for="zc_money" class="form-label">发帖赠送金币</label>
                                <input type="number" class="form-control" name="post_money" value="{$data.forum_configuration.post_money}">
                            </div>
                            <div class="col-md-3">
                                <label for="zc_integral" class="form-label">发帖赠送积分</label>
                                <input type="number" class="form-control" name="post_integral" value="{$data.forum_configuration.post_integral}">
                            </div>
                            <div class="col-md-3">
                                <label for="zc_vip" class="form-label">发帖赠送经验</label>
                                <input type="number" class="form-control" name="post_exp" value="{$data.forum_configuration.post_exp}">
                            </div>
                            <div class="col-md-3">
                                <label for="zc_vip" class="form-label">发帖赠送会员时长(天)</label>
                                <input type="number" class="form-control" name="post_vip" value="{$data.forum_configuration.post_vip}">
                            </div>
                            <div class="col-md-4">
                                <label for="del_post_money" class="form-label">删除帖子扣除金币</label>
                                <input type="number" class="form-control" name="del_post_money" value="{$data.forum_configuration.del_post_money}">
                            </div>
                            <div class="col-md-4">
                                <label for="del_post_integral" class="form-label">删除帖子扣除积分</label>
                                <input type="number" class="form-control" name="del_post_integral" value="{$data.forum_configuration.del_post_integral}">
                            </div>
                            <div class="col-md-4">
                                <label for="del_post_exp" class="form-label">删除帖子扣除经验</label>
                                <input type="number" class="form-control" name="del_post_exp" value="{$data.forum_configuration.del_post_exp}">
                            </div>
                            <div class="col-md-3">
                                <label for="zc_money" class="form-label">评论赠送金币</label>
                                <input type="number" class="form-control" name="comment_money" value="{$data.forum_configuration.comment_money}">
                            </div>
                            <div class="col-md-3">
                                <label for="zc_integral" class="form-label">评论赠送积分</label>
                                <input type="number" class="form-control" name="comment_integral" value="{$data.forum_configuration.comment_integral}">
                            </div>
                            <div class="col-md-3">
                                <label for="zc_vip" class="form-label">评论赠送经验</label>
                                <input type="number" class="form-control" name="comment_exp" value="{$data.forum_configuration.comment_exp}">
                            </div>
                            <div class="col-md-3">
                                <label for="zc_vip" class="form-label">评论赠送会员时长(天)</label>
                                <input type="number" class="form-control" name="comment_vip" value="{$data.forum_configuration.comment_vip}">
                            </div>
                            <div class="col-md-4">
                                <label for="del_comment_money" class="form-label">删除评论扣除金币</label>
                                <input type="number" class="form-control" name="del_comment_money" value="{$data.forum_configuration.del_comment_money}">
                            </div>
                            <div class="col-md-4">
                                <label for="del_comment_integral" class="form-label">删除评论扣除积分</label>
                                <input type="number" class="form-control" name="del_comment_integral" value="{$data.forum_configuration.del_comment_integral}">
                            </div>
                            <div class="col-md-4">
                                <label for="del_comment_exp" class="form-label">删除评论扣除经验</label>
                                <input type="number" class="form-control" name="del_comment_exp" value="{$data.forum_configuration.del_comment_exp}">
                            </div>
                            <div class="col-md-12">
                                <label for="number_text_intercepted">帖子列表截取文本数量</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="number_text_intercepted" value="{$data.forum_configuration.number_text_intercepted}" placeholder="帖子列表截取文本数量">
                                </div>
                                <small>规则：填入0则不对内容进行截取，如果你填入的数量大于文本的数量则全部显示。否则只显示截取过后的，最后用省略号结尾。</small>
                            </div>
                            <div class="col-md-6">
                                <label for="zc_money">金币提现比列</label>
                                <input type="number" class="form-control" name="money_withdrawal_ratio" value="{$data.forum_configuration.money_withdrawal_ratio}">
                                <small>假如1元=100金币。则填入100即可(填写0则关闭提现功能)</small>
                            </div>
                            <div class="col-md-6">
                                <label for="zc_integral">金币最低提现金额</label>
                                <input type="number" class="form-control" name="money_minimum_withdrawal_amount" value="{$data.forum_configuration.money_minimum_withdrawal_amount}">
                                <small>假如最低提现一元，提现比列为1元=100金币，则这里填写100即可</small>
                            </div>
                            <div class="col-md-6">
                                <label for="zc_money">积分提现比列</label>
                                <input type="number" class="form-control" name="integral_withdrawal_ratio" value="{$data.forum_configuration.integral_withdrawal_ratio}">
                                <small>假如1元=100积分。则填入100即可(填写0则关闭提现功能)</small>
                            </div>
                            <div class="col-md-6">
                                <label for="zc_integral">积分最低提现金额</label>
                                <input type="number" class="form-control" name="integral_minimum_withdrawal_amount" value="{$data.forum_configuration.integral_minimum_withdrawal_amount}">
                                <small>假如最低提现一元，提现比列为1元=100积分，则这里填写100即可</small>
                            </div>
                            <div class="col-md-4">
                                <label for="transfer_handling_fee">转账手续费</label>
                                <input type="number" class="form-control" name="transfer_handling_fee" value="{$data.forum_configuration.transfer_handling_fee}">
                                <small>填写0则无手续费，假如转账10元需要20%的手续费，那上面直接填写0.2即可,因为这里涉及到金币及积分都是整数，所以只会取整数扣除，小于1则直接不扣除</small>
                            </div>
                            <div class="col-md-4">
                                <label for="deduction_method_for_handling_fees">手续费扣除方式</label>
                                <select class="form-control" name="deduction_method_for_handling_fees">
                                    <option value="0" {if $data.forum_configuration.deduction_method_for_handling_fees==0} selected {/if}>转账金额扣除</option>
                                    <option value="1" {if $data.forum_configuration.deduction_method_for_handling_fees==1} selected {/if}>单独从用户金额扣除</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="designated_account">手续费转入指定账户</label>
                                <input type="number" class="form-control" name="designated_account" value="{$data.forum_configuration.designated_account}">
                                <small>填写0则不转入，其他直接填写用户id,当前app下的账号</small>
                            </div>
                            <div class="col-md-6">
                                <label for="post_tipping_time_limit">帖子打赏时间限制</label>
                                <input type="number" class="form-control" name="post_tipping_time_limit" value="{$data.forum_configuration.post_tipping_time_limit}">
                                <small>填写0则不限制，时间秒为单位</small>
                            </div>
                            <div class="col-md-6">
                                <label for="comment_tipping_time_limit">评论打赏时间限制</label>
                                <input type="number" class="form-control" name="comment_tipping_time_limit" value="{$data.forum_configuration.comment_tipping_time_limit}">
                                <small>填写0则不限制，时间秒为单位</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row g-3" style="margin-top: 0px;">
                            <div class="col-md-12">
                                <label for="announcement_title" class="form-label">公告标题</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="announcement_title" name="announcement_title" value="{$data.announcement_configuration.title}">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="announcement_content" class="form-label">公告内容</label>
                                <div class="input-group">
                                    <textarea class="form-control" id="announcement_content" name="announcement_content" placeholder="请输入公告内容" style="height: 100px;">{$data.announcement_configuration.content}</textarea>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="update_version" class="form-label">应用版本</label>
                                <input type="text" class="form-control" name="update_version" value="{$data.update_configuration.update_version}" placeholder="请输入应用版本">
                                <small>版本号更变后，则会产生新的一条更新记录！</small>
                            </div>
                            <div class="col-md-9">
                                <label for="update_url" class="form-label">更新地址</label>
                                <input type="text" class="form-control" name="update_url" value="{$data.update_configuration.update_url}" placeholder="请输入更新地址">
                            </div>
                            <div class="col-md-12">
                                <label for="update_content" class="form-label">更新内容</label>
                                <div class="input-group">
                                    <textarea class="form-control" id="update_content" name="update_content" placeholder="请输入更新内容" style="height: 100px;">{$data.update_configuration.update_content}</textarea>
                                </div>
                            </div>
                            <button type="button" onclick="updateapp()" class="btn btn-w-sm btn-primary ms-2">提交</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{/block}
{block name="js"}
<script>
    window.parent.$("#iframe-content .mt-nav-bar").find('a.active').text("修改APP");
    function updateapp() {
        var l = $('body').lyearloading({
            opacity: 0.2,
            spinnerSize: 'lg'
        });
        $.ajax({
            url: "{:url('app/edit')}",
            type: 'post',
            data: $("form").serializeArray(),
            dataType: 'json',
            success: function (data) {
                l.destroy();
                if (data.code == 1) {
                    notify.success(data.msg);
                } else {
                    notify.error(data.msg);
                }
            },
            error: function () {
                l.destroy();
                notify.error("服务器错误");
            }
        })
        return false;
    }

    function change_app_switch(type) {
        if (type == 1) {
            $("#app_switch_words").html("开启应用控制后，该应用下的用户可以 <code>可正常使用</code>");
            $("#app_switch").val(0);
            $("#app_closing_prompt_input").hide();
        } else {
            $("#app_switch_words").html("关闭应用控制后，该应用下的用户 <code>不允许任何操作</code>");
            $("#app_switch").val(1);
            $("#app_closing_prompt_input").show();
        }
    }

    function change_increase_decrease(type) {
        if (type == 0) {
            $("#increase_decrease").val(1);
        } else {
            $("#increase_decrease").val(0);
        }
    }

    function change_registration_switch(type) {
        if (type == 1) {
            $("#registration_switch_words").html("开启注册后，该应用可以 <code>正常注册</code>");
            $("#registration_switch1").show();
            $("#registration_switch2").hide();
            $("#registration_switch").val(0);
        } else {
            $("#registration_switch_words").html("关闭注册后，该应用 <code>禁止所有用户注册</code>");
            $("#registration_switch1").hide();
            $("#registration_switch2").show();
            $("#registration_switch").val(1);
        }
    }

    function change_update_userinfo_audit(type) {
        if (type == 0) {
            $("#update_userinfo_audit").val(1);
        } else {
            $("#update_userinfo_audit").val(0);
        }
    }

    function change_sign_switch(type) {
        if (type == 1) {
            $("#sign_switch_words").html("开启签到后，签到接口 <code>可正常使用</code>");
            $("#sign_switch_input").show();
            $("#sign_switch").val(0);
        } else {
            $("#sign_switch_words").html("关闭签到后，签到接口 <code>则将关闭</code>");
            $("#sign_switch_input").hide();
            $("#sign_switch").val(1);
        }
    }

    function change_invitation_switch(type) {
        if (type == 1) {
            $("#invitation_switch_words").html("开启邀请后，填写邀请码接口 <code>可正常使用</code> (以及注册的时候可填写邀请码，不必填选项)");
            $("#invitation_switch_input").show();
            $("#invitation_switch").val(0);
        } else {
            $("#invitation_switch_words").html("关闭邀请后，填写邀请码接口 <code>则将关闭</code> (注册填写邀请码则无效)");
            $("#invitation_switch_input").hide();
            $("#invitation_switch").val(1);
        }
    }

    function change_login_switch(type) {
        if (type == 1) {
            $("#login_switch_words").html("开启登录后，该应用下的用户可以 <code> 使用软件（被禁封的用户除外）</code>");
            $("#login_switch1").show();
            $("#login_switch2").hide();
            $("#login_switch").val(0);
        } else {
            $("#login_switch_words").html("关闭登录后 <code>所有用户</code> 都无法登录该应用了");
            $("#login_switch2").show();
            $("#login_switch1").hide();
            $("#login_switch").val(1);
        }
    }

    function change_security_switch(type) {
        if (type == 1) {
            $("#security_switch_words").html("开启安全配置后，可对应用 <code>数据</code> 进行加密, 防止数据泄露");
            $("#security_switch_input").show();
            $("#security_switch").val(0);
        } else {
            $("#security_switch_words").html("关闭安全配置后，该应用 <code> 数据 </code>将以明文传输，不使用任何安全配置");
            $("#security_switch_input").hide();
            $("#security_switch").val(1);
        }
    }

    function encryption_type_v(value) {
        if (value != 0) {
            $("#encryption_section_s").show();
        } else {
            $("#encryption_section_s").hide();
        }
        if (value >= 2) {
            $("#encryption_type_2").show();
        } else {
            $("#encryption_type_2").hide();
        }
    }

    // 随机生成字符串
    function randomString(length) {
        var chars = "0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ";
        var result = '';
        for (var i = length; i > 0; --i) result += chars[Math.floor(Math.random() * chars.length)];
        return result;
    }
</script>
{/block}
